<p id="notice"><%= notice %></p>

<h1>Users</h1>

<button type="button" class="btn btn-primary instructions"><a href= "#">Instructions</a></button>
<hr/>
<br/><br/>

<!-- Filterrific search starts -->

<%= form_for_filterrific @filterrific, html: { autocomplete: "off" } do |f| %>
  <div class='row'>
    <div class = "col-md-3">
      <div class="form-group">

        <%= f.label :search %>
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed form-control'
    ) %>
  </div>
  </div>

  <div class = "cold-md-3">
    <div class = "form-group">
    <%= f.label :country %>
    <%= f.select(
      :with_country_id,
      @filterrific.select_options[:with_country_id],
      { include_blank: '- Any -' }, class: 'form-control' ) %>
  </div>
  </div>


  <div class= "cold-md-2">
    <div class = "form-group">
    <%= f.label :registered_after %>
    <%= f.text_field(:with_created_at_gte, class: 'js-datepicker form-control') %>
  </div>
  </div>


  <div class= "col-md-4">
    <div class = "form-group">
      <%= f.label :sorted_by %>
    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by], {}, class: 'form-control') %>
  </div>
  </div>
</div>
  <div>
    <%= link_to(
      'Reset filters',
      reset_filterrific_url,
    ) %>
  </div>
  
<% end %>

<%= render partial: 'list', locals: {users: @users} %>





<div id = "empty">
  <br><br><br>
</div>

<div style= "display: none">
  <div id= "words"> 
    <br/><br/><br/>
    <p><em> Some Instructions Or Other </em></p>
    <div class= "global"><a href = ""> Hide </a></div>
  </div>

  

</div>

<% if !current_user %>
  <%= link_to 'Sign Up As A New User', new_user_path %>
<% end %>


<br/>

<script>
 
$(document).ready(function() {
  $(".js-datepicker").datepicker();
});

$(".instructions").click(function(event) {
    event.preventDefault();
    $("#empty").load("/users #words");
  });


$(".global").click(function(event) {
  event.preventDefault();
  $("#empty").load("/users #empty");
  });

</script>
